<div class="container mt-5">
  <h1 class="text-primary">Ask your coach anything</h1>

  <form action="/answer" method="get" data-turbo="false" class="mt-4">
    <div class="mb-3">
      <input type="text" name="question" class="form-control" placeholder="Type your question here">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
